@charset "UTF-8";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #fefefe;
    background-color: #333333;
}
h1 {
    margin: 0;
    padding: 20px;
}
h1, h2 {
    font-weight: normal;
}
a {
    color: #83eab0;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
a.book {
    color: #fefefe;
}
a.book:after {
    content: "";
    display: table;
    clear: both;
}
address {
    font-style: normal;
}
.grid {
    margin-bottom: 20px;
}
.au-contact,
.book {
    display: block;
    width: 100%;
    padding: 20px;
    line-height: 1.4;
}
.au-contact {
    background-color: #404040;
}
.book1 {
    background-color: #252729;
}
.book2 {
    background-color: #252029;
}
.book3 {
    background-color: #404244;
}
.book4 {
    background-color: #393033;
}

.book h2,
.book p,
.book img {
    margin: 0;
    padding: 0;;
}
.book img {
    display: block;
    width: 200px;
    margin: 20px auto 0 auto;
}
.book .sub-title {
    margin-bottom: 20px;
    font-size: 14px;
    color: #999;
}


@media (min-width: 768px) {
    .grid {
        display: flex;
        flex-flow: row wrap;
    }
    .grid__tile {
        flex: 0 0 auto;
        align-items: center;
        width: 50%;
        height: 610px;
    }
    .grid__tile:first-child {
        width: 100%;
        height: auto;
    }
    .grid__tile .book {
        height: 100%;
    }
}
@media (min-width: 1024px) {
    .grid__tile {
        height: 400px;
    }
    .book .col {
        float: right;
        width: calc( 100% - 220px );
    }
    .book img {
        margin: 0;
    }
}
@media (min-width: 1280px) {
    h1 {
        width: 1280px;
        margin: 0 auto;
    }
    .grid {
        width: 1280px;
        margin: 0 auto 20px;
    }
    .grid__tile,
    .grid__tile:first-child {
        width: 33.333%;
        height: 500px;
    }
    .au-contact {
        height: 100%;
    }
    .grid__tile:nth-child(4),
    .grid__tile:nth-child(5) {
        width: 50%;
        height: 323px;
    }
}
